.main {
    overflow: hidden;
    margin:-5px;
    
}
.content {
    font-size: 16px;
    color: white;
    padding-left: 28px;
}
.icns {
    border:1px solid white;
    border-radius:7px;
    padding:1px 3px;
   
}
    .icns:hover {
        color: white;
        background: red;
        border: 1px solid red;
        transition:400ms ease-in;
    }
.iconAndText {
    padding-top:20px;
}
.filmImg {
    padding: 10px;
}
.baslik {
    font-size: 32px;
    margin: 0 0 5px 0;
    line-height: 100%;
    color: #fff;   
}
.line {
    border-bottom: 1px solid white;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 18px;
}
.yonetmen, .oyuncular, .formatlar {
    padding-top:10px;
}

.btn-secondary {
    margin: 0px;
    font-weight: 200;
    font-size: 15px;
    color:white;
    font-family: Nunito, sans-serif;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .btn-secondary:hover {
        background-color: white;
        color: black;
        border-color: white;
        transition: 200ms ease-in;
    }

.btn-bilet {
    margin:0px;
    font-weight: 200;
    font-size: 15px;
    font-family: Nunito, sans-serif;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    border: 1px solid white;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
}

    .btn-bilet:hover {
        background-color: #e6007e;
        color: white;
        border-color: #e6007e;
        transition: 200ms ease-in;
    }


.resimArkaPlan {
    overflow: hidden;
    padding: 30px;
    padding: 5px 5px 5px 5px;
    margin: auto;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url(https://media.cinemaximum.com.tr/255//Files/POSTER/ticket_to_paradise.jpg);*/
    background-color: transparent;
    -webkit-filter: blur(12px);
    filter: blur(12px);
}


.tonlama{
    padding: 5px 5px 5px 5px;
    margin: auto;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;         
    opacity: 0.4;
 
}
.allContent {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    padding-right: 0%;
    padding-top: 10px;
}

@media only screen and (max-width: 575px) {
    .resimArkaPlan {
        height: 1500px;
    }
    .contentChildDiv {
        width:100%;
    }

}

