.arkaplan{
    background-color: #e6007e;
    height:100px;

}
.yazi{
    position: absolute;
    top: 100px;
    width: 100%;
}
.title{
    font-size: 46px;
    font-weight: 300px;
    color: white;
}
.text{
    font-size: 28px;
    font-weight: 200;
    color: white;
}
.buton1{
    margin-top: 20px;
    height: 40px;
    width: 280px;
    border: none;
    outline: none;
    border-radius: 6px;
}
.buton1:hover{
    background-color: #e6007e;
    color: white;
    transition: 0.2s;
}
resim{
    max-width: 100%;
    display: block;
    height: auto;
}
.login{
    width: 350px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.eposta{
    background-color: #e6e6e6;
    border: none;
    outline: none;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding-left: 7px;
    margin-bottom: 20px;


}
.sifre{
    background-color: #e6e6e6;
    border: none;
    outline: none;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding-left: 7px;
    margin-bottom: 20px;
}
.uyegiris{
    font-size: 28px;
    font-weight: normal;
    font-family: inherit;
    text-align: left;
    color: #333333;
    padding-bottom: 20px;
    padding-top: 20px;
}
.buton3{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin-top:50px;
}
.buton3:hover{
    background-color: #e6007e;
}
.buton2{
    margin-top: 20px;
    height: 50px;
    width: 220px;
    border: white solid 1px;
    outline: none;
    border-radius: 5px;
    background-color: #e6007e;
    color: white;
}
.buton4 {
    margin-top: 20px;
    height: 50px;
    width: 220px;
    border: white solid 1px;
    outline: none;
    border-radius: 5px;
    background-color: #e6007e;
    color: white;
}

.uyegiris{
    font-size: 28px;
    font-weight: normal;
    font-family: inherit;
    text-align: left;
    color: #333333;
    padding-bottom: 20px;
    padding-top: 20px;
}
.kesfetSoru{
    left: 5;
    position: relative;
    top: 0;
   
}
p{
    color:white;
    font-size: 12px;
    padding-top: 10px;
}
.buton2:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}
 .buton4:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
}
.bosluk{
    width: 20%;
    height: 200px;
}
@media screen and (max-width: 912px)
{
   .title{
    font-size: 22px;
    margin-top: 160px;
   }
   .buton1{
    width: 100%;
   }
   .text{
    font-size: 16px;
   }
   resim{
    height:210px;
   } 
   .kesfetSoru{
    position: relative;
    top: 10px;
    margin-left: 10px;
   }
    .bosluk{
        width: 0;
        height: 50px;
    }
    .arkaplan{
        height: 400px;
    }
    .login{
        margin-top: 10px;
    }
    .yazi {
        position: absolute;
        top: 90px;
        width: 100%;
    }
    .anadiv{
        top:0;

    }
    .buton2{
        margin-top:80px;
    }
    .buton4 {
        margin-bottom: 20px;
    }
    

}

.pembe{
    background-color: #e6007e;
}