@using Entity.Concrete
@model Tur
@{
    ViewBag.Title = "AddTur";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Tür Ekle</h2>
@using (Html.BeginForm("AddTur", "Tur", FormMethod.Post, new
{ @class = "form-group" }))
{
    @Html.Label("Tür Adı")
    <br />
    @Html.TextBoxFor(x => x.turIsim, new { @class = "form-control" })
    <div id="turIsim" class="validation-container">
       @Html.ValidationMessageFor(x => x.turIsim)
    </div>

    <br />
    @Html.Label("Durum")
    <br />
    <select name="durum" class="form-control">
        <option value=true>True</option>
        <option value=false>False</option>
    </select>
    <br />
    
    <input type="submit" value="Ekle" class="form-control bg-fuchsia mt-5" />
}
